.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;   
  width: 100%;
  height: 110%;
  position: fixed;  
  border-radius: 10px;
  box-shadow: white 1px 1px 21px;
}

.innerPopup{
  color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgb(100, 98, 98);
  z-index: 2;   
  width: 60%;
  height: 80%;
  position: fixed;  
  border-radius: 10px;
  box-shadow: white 1px 1px 21px;
}

.instructions{
  overflow-y: scroll;
  border: 1px solid white;
  background: rgba(49, 46, 46, 0.7);
  z-index: 1;
  border-radius: 5px;
  width: 60%;
  height: 90%;
  padding: 5px;
  margin-bottom: 30px;

}

p{
  z-index: 2;
  color:white
}

.popup>button{
    width: 10%;
    height: 10%;
}

h1{
margin-bottom: 45%;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.table{
  color:white;
  margin-bottom: 20%;
  background: rgba(49, 46, 46, 0.7);
  border-radius: 2%;
  font-size: 20px;
  border: 2px white solid

}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 2%;
}